:root {
    --navy: #1F2937;
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --blue: #3882F6;
}

* {
    font-family: 'Roboto';
}

/* bg-color*/
.bg-navy {
    background-color: var(--navy);
}
.bg-white {
    background-color: var(--white);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-blue {
    background-color: var(--blue);
}

/* ft-color */
.ft-navy {
    color: var(--navy);
}
.ft-white {
    color: var(--white);
}
.ft-gray {
    color: var(--gray);
}
.ft-blue {
    color: var(--blue);
}

/* padding & row*/
.padding {
    padding: 0 5%;
}
.padding0 {
    padding-top: 56px;
}
.padding1 {
    padding: 5% 15%;
}
.padding2 {
    padding: 5% 10%;
}
.padding3 {
    padding: 3% 8%;
}
.padding4 {
    padding: 3% 0;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* nav */
.n {
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}
.logo:hover {
    color: var(--white);
}
.link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: var(--gray);
    text-decoration: none;
}
.link:hover {
    color: var(--navy);
    background-color: var(--white);
}

/* hero */
.hero {
    font-size: 48px;
    font-weight: 800; /*Extra Bold*/
}
.hero2 {
    font-size: 18px;
}
.hero-img-c {
    display: flex;
    flex-wrap: wrap;
}
.hero-img {
    width: 510px;
    height: 230px;
    color: var(--navy);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* button */
.button {
    padding: 0.375rem 2rem ;
    display: inline-block;
    text-align: center;
    border-width: 0;
    border-radius: 0.375rem;
    color: var(--white);
    font-weight: bold;
}
.bd-white {
    border: 2px var(--white) solid;
}

/* content */
.hd2 {
    font-size: 36px;
    font-weight: 800; /*Extra Bold*/
    text-align: center;
}
.c-img-c {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0;
}
.c-img {
    width: 200px;
    height: 200px;
    border: 4px var(--blue) solid;
    border-radius: 0.375rem;
    margin: 0 5px;
}
.padding-p {
    padding: 5% 0 0;
}

/* quote */
.quote {
    font-size: 36px;
    font-weight: 300; /*Light*/
    font-style: italic;
}
.cite {
    font-size: 20px;
    font-weight: 700; /*Bold*/
    font-style: normal;
    display: block;
    text-align: right;
}

/* banner */
.b-text-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0.375rem;
}
.b-text {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.b-text2 {
    font-size: 16px;
    margin: 0;
}

/* footer */
.footer {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}